// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

$cgreen: #1B5F49;
$cgrey: #D8D8D8;
$cbrown: #D9A058;
$cblack: #424240;
$cblue: #BDD1E7;

$mango: #f6b75c;
$blossom: #feb7c5;
$ocean: #47ac7c;
$salmon: #ff9276;

//pills
$frontend: #96ADC8;
$backend: #F2C14E;
$platform: #d36135;
