// Specific CSS for your home-page
body {
  background-color: $cblue;
}

.home-container{
  display: flex;
  justify-content: space-between;

}

.navbar{
  background-color: $cblack;
  color: $cgrey;
  height: 100vh;
  width: 80px;
  writing-mode: vertical-rl;
  text-orientation: mixed;

}
