<a class="anchor" id="about"></a>
<div class="home-container salmon scrollable center">
  <div>
    <div class="about-content row">
      <div class="about-text col-12 col-lg-6">
        <h1>Hi! I'm Will, thanks for visiting</h1>
        <br>
        <p>
          I’ve been working in and around technology companies for the past decade, helping to effectively communicate and market how products impact users.
        </p>
        <br>
        <p>
          Now, I’ve taken some time out to improve on my software development skills and completed an intensive 3 month full-stack web development bootcamp in September. Combining these skills I want to develop and build products that solve user problems simply and clearly.
        </p>
        <br>
        <p>
          Outside of work, I enjoy cycling into the countryside around Amsterdam, video-games and quiz shows with a nice cup of tea.
        </p>
        <div class="but">
          <%= link_to asset_path("colors.gif") do %>
          <i class="fas fa-download"></i> Download CV
          <% end %>
        </div>
      </div>
      <div class="about-image col-12 center col-lg-6">
        <%= image_tag "will_sepia.png" %>
      </div>
    </div>


        <div class="row">
        <h4>Skills</h4>
          <div class="about-skills col-12 ">
            <% @skills.each do |skill| %>
            <% case skill.genre %>
            <% when "backend" %>
            <div class="pill backend">
              <% when "frontend" %>
              <div class="pill frontend">
                <% when "platform" %>
                <div class="pill platform">
                  <% end %>
                  <p> <%= skill.name %> </p>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
