
<div class="footer">
  <div class="navlink">
    <%= link_to "About", root_path(anchor: 'about'), class: :but %>
    <%= link_to "Projects", root_path(anchor: 'projects'), class: :but %>
    <%= link_to "Contact", root_path(anchor: 'contact'), class: :but %>
  </div>
</div>
