  <div class="home-container mango">
    <div class="intro-text">
      <h1>Hello/Hallo/你好</h1>
      <p>I'm Will and I build products for humans</p>
      <%= mail_to "will.f.thompson@gmail.com", subject: "Hi Will", class: :but do %>
      Contact Me <i class="far fa-envelope"></i>
      <% end %>
    </div>
  </div>
</div>
