<div class="navbar">
  <div class="nav-space"></div>
  <div class="navlogo">
    <%= link_to root_path do %>
    <h1>WFT/</h1><h1 class="reverse">WTF</h1>
    <% end %>
    </div>
    <div class="dark-toggle">
      <input type="checkbox" id="bw" name="bw" class="dark-checkbox"/><label for="bw"></label>
    </div>
</div>
