  <div class="welcomebg">
    <div class="welcome">
      <div class="welcomedetails">
        <div class="welcomelogo">
          <h1>WFT/</h1>
          <h1 class="reverse">WTF</h1>
        </div>
        <div class="welcomebutton">
          <%= link_to root_path(anchor: "intro"), id: :welcomebut do %>
          <i class="far fa-arrow-alt-circle-down"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
