  <div class="welcomebg">
    <div class="welcome">
      <div class="welcomedetails">
        <div class="welcomelogo">
          <h1>WFT/</h1>
          <h1 class="reverse">WTF</h1>
        </div>
        <div class="welcomebutton">
         <a id="welcomebut"><i class="far fa-arrow-alt-circle-up"></i></a>
       </div>
     </div>
   </div>
 </div>
