

.salmon{
   background-color: $salmon;
}

.blossom{
   background-color: $blossom;
}

.mango{
    background-color: $mango;
}
.ocean{
    background-color: $ocean;
}

.black{
  background-color: black;
}
