//Add to Projects Controller if you add more


//accent
.salmon{
   background-color: $salmon;
}

.blossom{
   background-color: $blossom;
}

.mango{
    background-color: $mango;
}
.ocean{
    background-color: $ocean;
}


//b&w
.black{
  background-color: black;
}

.white{
  background-color: white;

}
