body {
  background-color: $cgrey;
}

html {
  scroll-behavior: smooth;
}


.scroll-master-container{
  scroll-snap-type: y mandatory;
  overflow:scroll;
  height: 100vh;
}

.scroll-child-container{
  scroll-snap-align: start;
}
